#create
{
    height: 600px;
    width: 500px;
    text-align: center;
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v1016-c-02-ksh6qkug.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=671bde82629fba3ee647c5ce1fde5504);
    background-size: cover;
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 70px;
    margin-left: 400px;
    margin-bottom: 50px;
    float: left;
}
input
{
    height: 30px;
    font-size: 20px;
    width: 200px;
    border-radius: 5px;
}
#add
{
    height: 80px;
    width: 200px;
}
button:hover
{
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    background-color: black;
}